body .grid-container {
  display: grid;
  grid-template-columns: 30% 15% 40% 15%;
  grid-template-rows: 100px 2fr 2fr 100px;
  grid-template-areas: 
    "area1 area2 area2 area2"
    "area3 area4 area4 area5"
    "area3 area6 area7 area7"
    "area3 area8 area8 area8";
  height: 100vh;
  margin: auto;
}

.area1 {
  grid-area: area1;
  background-color: #F0F8FF;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid black 1px;
}

.area1 img {
  min-width: 100px;
  min-height: 100px;
  object-fit: scale-down;
  margin: 10px;
}

.area2 {
  grid-area: area2;
  background-color: #F0F8FF;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 10px;
  border: solid black 1px;
}

.area3 {
  grid-area: area3;
  background-color: #F0F0F0;
  border: solid black 1px;
  padding: 10px;
}

.area4 {
  grid-area: area4;
  background-color: #F0F8FF;
  display: flex;
  align-items: center;
  padding: 10px;
  border: solid black 1px;
}

.area4 table {
  grid-area: area4;
  width: 100%;
  border-collapse: collapse;
}

.area4 th, .area4 td {
  border: solid black 1px;
  padding: 10px;
}

.area4 tr:nth-child(odd) {
  background-color: #F0F0F0;
}

.area4 tr:nth-child(even) {
  background-color: #F0F8FF;
}

.area4 tr:hover {
  background-color: #B0E0E6;
}

.area5 {
  grid-area: area5;
  background-color: #F0F8FF;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid black 1px;
}

.area5 img {
  min-width: 100px;
  min-height: 300px;
  object-fit: scale-down;
}

.area6 {
  grid-area: area6;
  background-color: #F0F8FF;
  padding: 10px;
  border: solid black 1px;
}

/* Area 7 */
.area7 {
  grid-area: area7;
  background-color: #F0F8FF;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border: solid black 1px;
}


/* Area 8 */
.area8 {
  grid-area: area8;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(163, 158, 158);
  height: 100px;
}


  
  
  
  